html, body {
    margin: 0;
    height: 100vh;
    display:         flex;
    flex-direction:  column; /* Розташування контейнерів вертикально */
    align-items:     center; /* Вирівнювання контейнерів по горизонталі */
    justify-content: center; /* Центрує контейнерів по вертикалі */
    overflow:        hidden; /* Вимкнути прокрутку */
}

body {
    background: linear-gradient( to bottom, #080015, #441052);
}

.container {
    display: flex;
    align-items: center; /* Центрує вміст всередині контейнерів по вертикалі */
    justify-content: center; /* Центрує вміст всередині контейнерів по горизонталі */
}

.top-container {
    width: 616px; /* Ширина верхнього контейнера */
    height: 80px; /* Висота верхнього контейнера */
    /* background-color: #f88; Колір фону верхнього контейнера */
}

.s-container {
    width: 616px;
    height: 221px;
    /* background-color: #8f8; */
}

.text-container {
    position: absolute;
    width: 616px;
    height: 60px;
    /* background-color: rgb(0, 0, 0); */
    z-index: 2;
}

.text-overlay {
    position: absolute;
    top: 30%; /* Вертикальне центрування */
    left: 50%; /* Горизонтальне центрування */
    transform: translate(-50%, -50%); /* Вирівнювання по центру */
    color: #F9F9F9;
    font-family: 'Gotham', sans-serif;
    font-size: 25px; /* Змініть на ваш розмір */
    text-align: left;
    width: 90%; /* Ширина текстового контейнера */
    line-height: 1.5;
}

.bottom-container {
    width: 616px; /* Ширина нижнього контейнера */
    height: 60px; /* Висота нижнього контейнера */
    /* background-color: rgb(4, 245, 4); Колір фону нижнього контейнера */
}

.footer {
    position: absolute;
    width: 216px;
    height: 41px;
    left: calc(50% - 216px/2);
    top: 842px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #F9F9F9;
}

.white-link {
    color: #F9F9F9; /* встановлює білий колір для посилання */
    text-decoration: none; /* видаляє підкреслення, якщо потрібно */
}

.white-link:hover {
    color: #F9F9F9; /* зберігає білий колір при наведенні миші */
    text-decoration: underline; /* додає підкреслення при наведенні, опціонально */
}

.stop-button {
    position: absolute;
    width: 139px;
    height: 48px;
    left: calc(50% - 139px/2 - 158.5px);
    top: 595px;

    background: #FFFFFF;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: none;
    cursor: pointer;

    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #C432F5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stop-button:hover {
    background: #f0f0f0; /* Зміна кольору при наведенні */
}

.clear-button {
    position: absolute;
    width: 139px;
    height: 48px;
    left: calc(50% - 139px/2 + 159.5px);
    top: 595px;

    background: rgba(196, 50, 245, 0.6);
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    border: none;
    cursor: pointer;

    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F9F9F9;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button:hover {
    background: rgba(196, 50, 245, 0.8); /* Збільшує непрозорість при наведенні */
}

.logo-desktop{
    position: absolute;
    width: 439px;
}

.rectangle {
    position: absolute;
    width: 616px;
    height: 221px;
    /* left: calc(50% - 616px/2);
    top: 344px; */

    background: rgba(196, 50, 245, 0.25);
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    z-index: 1;
}


/* @media (max-width: 768px) {
    
} */